$grid-col-overflow: 48px;

.Grid {
    display: flex;
    flex-direction: row;

    &__col {
        display: flex;
        flex-direction: column;

        &::before {
            border-left: 3px dashed #00ff00;
            border-right: 3px dashed #00ff00;
            box-sizing: border-box;
            content: "";
            display: block;
            height: 48px;
            opacity: 0;
            visibility: hidden;
            width: 48px;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }

        &--full {
            &:hover::before {
                border-color: #ff0000;
            }
        }
    }
}
