.Grid {
    display: flex;
    flex-direction: row;

    &__col {
        display: flex;
        flex-direction: column;
        padding-top: 48px;

        &:hover {
            background-color: #ffff00;
        }

        &--full {
            &:hover {
                background-color: #ff0000;
            }
        }
    }
}
