$cell-height: 48px;
$cell-width: 48px;

.Cell {
    background: #000000;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    height: $cell-height;
    padding: 2px;
    width: $cell-width;

    &--disabled {
        pointer-events: none;
    }

    &__piece {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        &--player0 {
            background: #ffffff;
        }

        &--player1 {
            background: #ffff00;
        }

        &--player2 {
            background: #0000ff;
        }
    }

    &:hover & {
        &__piece {
            background: #00ff00;
        }
    }
}
